@inherits TWTransitionalComponentBase

<div class="@_hiddenClass @TransitionClasses.ToString() @AdditionalClasses" @attributes="InputAttributes">
    <CascadingValue Value="this" IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>
@code {

}